//
//  Version.xcconfig
//
//  Created by Alexander Trishyn on 7/6/15.
//  Copyright (c) 2015 Lohika. The MIT License (MIT).
//

JWT_MAJOR_VERSION = 1
JWT_MINOR_VERSION = 2
JWT_BUILD_NUMBER = 3

JWT_COPYRIGHT_YEARS = 2015

JWT_BUNDLE_VERSION = $(JWT_MAJOR_VERSION).$(JWT_MINOR_VERSION).$(JWT_BUILD_NUMBER)
JWT_BUNDLE_SHORT_VERSION = $(JWT_MAJOR_VERSION).$(JWT_MINOR_VERSION).$(JWT_BUILD_NUMBER)
JWT_BUNDLE_GET_INFO = Version ${JWT_MAJOR_VERSION}.${JWT_MINOR_VERSION} (build ${JWT_BUILD_NUMBER}), Copyright © ${JWT_COPYRIGHT_YEARS} Lohika.

